.nav{
position: relative;
top: 42px;
left: 0px;
width: 1920px;
height: 148px;
opacity: 1;
}

.nav-inside{
display: inline-flexbox;
position:sticky;
top: 90px;
left: 0px;
width: 1920px;
height: 100px;
background: #212020  0% 0% no-repeat padding-box;
opacity: 1;
}

.outter-nav{
position: absolute;
top: 0px;
left: 0px;
width: 1920px;
height: 251px;
background: transparent linear-gradient(180deg, #000000 0%, #000000D9 56%, #00000000 100%) 0% 0% no-repeat padding-box;
opacity: 1;
}

.inner-nav{
top: 112px;
left: 428px;
width: 1035px;
height: 56px;
opacity: 1;
}

.inner-nav-text{
position: fixed;
top: 121px;
left: 475px;
width: 82px;
height: 38px;
text-align: left;
font: normal normal medium 16px/19px JioType;
letter-spacing: 0px;
color: #77BAFF;
text-transform: uppercase;
opacity: 1;
}

.JioType, Medium{
font-family: Arial, Helvetica, sans-serif;
font-weight: medium;
font-size: 18px;
color: #FFFFFF;
}

.inner-nav-element{
    position: initial;
top: 121px;
left: 428px;
width: 129px;
height: 38px;
opacity: 1;
}

.inner-nav-logo{
position: absolute;
top: 38px;
left: 428px;
width: 29px;
height: 23px;

opacity: 1;
}

.inner-nav-logo-question{
position: inherit;
top: 129px;
left: 655px;
width: 14px;
height: 23px;
background: transparent url('img/Icon open-question-mark.svg') 0% 0% no-repeat padding-box;
opacity: 1;
bottom: 41.5px;
}

.inner-nav-element-1{
position: fixed;
top: 121px;
left: 655px;
width: 116px;
height: 38px;
opacity: 1;
}

.inner-nav-text-1{
position: inherit;
top: 121px;
left: 689px;
width: 82px;
height: 38px;
text-align: left;
font: normal normal medium 16px/19px JioType;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}

.logo-jio{
position: absolute;
top: 30px;
right: 0px;
left: 37.07px;
width: 78px;
height: 43px;
background: transparent url('img/Group 6445.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.border{
position: fixed;
top: 112px;
left: 620px;
width: 0px;
height: 56px;
border: 1px solid #434343;
opacity: 1;
}